@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;1,400&family=Cutive&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;1,400&family=Cutive&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Quattrocento+Sans:wght@700&display=swap');
//----------mobile-----------------//
* {
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}
[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1{
    flex:0 0  8.33333%;
    max-width: 8.33333%;
}
.col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-xs-12{
    flex:0 0 100%;
    max-width: 100%;
}

//-----------------tablet=>768px------------//


@media(min-width:768px) {

    .container{
        max-width: 720px;
    }
}

//------------ laptop=>md----------//

@media(min-width:992px) {
    .container{
        max-width: 960px;
    }
    .col-md-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

//-------------desktop=> lg------------//
@media(min-width:1200px) {
    .container {
        max-width: 1170px;
    }
    .col-md-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}




//-----------------only mobile>767-----------------------//
@media(max-width:767px){
   
    .container {
        
        .col-xs-1 {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }
        .col-xs-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }
        .col-xs-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
        .col-xs-4 {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }
        .col-xs-5 {
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
        }
        .col-xs-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-xs-7 {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
        }
        .col-xs-8 {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }
        .col-xs-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }
        .col-xs-10 {
            flex: 0 0 83.33333%;
            max-width: 83.33333%;
        }
        .col-xs-11 {
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }
        .col-xs-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        
    }
    
    
    
   
}



@media (min-width: 320px) {
    .menu {
        display: flex;
        justify-content: center;
    }
}
//-------menu--------//

body{
    font-family:  'Open Sans', sans-serif;
    background-color: white;
}

.menu{
    display: flex;
    justify-content: space-around;
     
    
}
.logo{
    
    margin: 6px 0 0 0;
}

li{
    border: 1px solid transparent;

    border-radius: 5px;
    padding: 9px;
    font-size: 14px;
    
}


li:hover{
    
    border: 1px solid #5a6068;
    cursor: pointer;
    
}

.header {
    padding: 30px 0;
    background-color: black;
    color: #ad9c9b;
    display: flex;
   
   position: relative;
}
//--------------------------пошук--------------------------//
.header-search{
    border: 1px solid #3c4147;
    
    position: relative;
    left: 40px;
    border-radius: 5px;
    
    
    
}
.input-text{
    width: 100%;
    height: 29px;
    margin: 3px 0 4px 4px ;
    border: none;
    background-color: transparent;
    color: #9ba5a4; 
    
    
}
input, textarea {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
  padding: 0 40px 0 0;
  }
.button-search{
    height: 30px;
    width: 30px;
    border: none;
    background: transparent;
    left: 125px;
    margin-top:-33px;
    position: absolute;
    cursor: pointer;
}
.img-search{
    position: relative;
    right: 15px;
    margin-top:-10px; 
}
//------------------------------main------------------------------------------------//

//---------------banner-------------//
.banner{
    width: 100%;
    
    background-position: center;
    
    display: flex;
    position: relative;
}
.slider-block{
    width: 100%;
    
    
}

.slick-slide img {
    
    height: 660px;
}

.slick-dots {
    position: absolute;
    bottom: 7px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.slick-dots li button:before{
    font-size: 12px;
    color: red;
}
.slick-dots li.slick-active button:before {
    color: red;
}
.slider-content{
    margin: -662px 0 0 10px;
    h1{
         font-family: 'Quattrocento Sans', sans-serif;
         font-size: 36px;
         margin: 228px 0 30px 0;
         color: white;
         position: relative;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        margin: 0 0 40px 0;
        color: #ccd0d7;
        position: relative;
        text-align:left;
    }
    .view-more{
        width: 124px;
        height: 44px;
        margin: 0 12px 0 0;
        border-radius: 3px ;
        border:2px solid  white;
        background-color: transparent;
        color: #ffff;
        position: relative;
    }
    .video-tour{
        width: 124px;
        height: 44px;
        border-radius: 3px ;
        border:2px solid  white;
        background-color: transparent;
        color: #ffff;
        position: relative;
    }

    .view-more:hover{
        background-color: #23b7a4;
        border:2px solid  transparent;
    }
    .video-tour:hover{
        background-color: #23b7a4;
        border:2px solid  transparent;
    }

}
//-------------------------about---------------------//

.about{
    display: flex;
    padding: 0 0 150px 0;
    border-bottom: 1px solid #dde1e4;
    h1{
        font-size: 36px;
        font-family:'Quattrocento Sans', sans-serif;
        border-left: 10px solid #e0e5ea;
        padding: 0 0 0 10px;
        margin: 80px 0 60px 0;
    }
    
}
.about-par{
    p{
        margin: 0 0 40px 0;
    font-family: 'Open Sans', sans-serif;
        font-size: 16px;
     color: #a9aaad;
     strong{
         font-weight: 600;
         color: #8d8f92;
     }
    }
}
.network{
    display: inline-flex;
    margin: 15px 0 0 0;
    .link-fb{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/face.png);
        background-position: center;
        border-right: 1px solid white;
        
        
    }
    .link-fb:hover{
        background-color: #3b5998;
    }
    .link-tw{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/twitter.png);
        background-position: center;
        border-right: 1px solid white;
    }
    .link-tw:hover{
        background-color: #00acee;}
    .link-goog{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/google.png);
        background-position: center;
        border-right: 1px solid white;
        
    }
    .link-goog:hover{
        background-color: rgb(227, 208, 0);
    }
    .link-ball{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/boll.png);
        background-position: center;
        border-right: 1px solid white;
        
    }
    .link-ball:hover{
        background-color: #03d8bc;
    }
    .link-be{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/be.png);
        background-position: center;
        
        
    }
    .link-be:hover{
        background-color: black;
    }

}
.right-about{
    position: relative;
    h2{
        font-size: 18px;
        font-family: 'Quattrocento Sans', sans-serif;
        margin: 0 0 12px 60px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #a9aaad;
        margin: 0 0 0 60px;
    }
    .one{
        width: 50px;
        height: 50px;
        background-color: #23b7a4;
        color: white;
        margin: -60px 0 35px 0 ;
        font-size: 20px;
        font-family: 'Quattrocento Sans', sans-serif;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;

    }
}
.right-about-two{
    position: relative;
    h2{
        font-size: 18px;
        font-family: 'Quattrocento Sans', sans-serif;
        margin: 0 0 12px 60px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #a9aaad;
        margin: 0 0 0 60px;
    }
    .two{
        width: 50px;
        height: 50px;
        background-color: #23b7a4;
        color: white;
        margin: -60px 0 35px 0 ;
        font-size: 20px;
        font-family: 'Quattrocento Sans', sans-serif;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;

    }
}
.right-about-three{
    position: relative;
    h2{
        font-size: 18px;
        font-family: 'Quattrocento Sans', sans-serif;
        margin: 0 0 12px 60px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #a9aaad;
        margin: 0 0 0 60px;
    }
    .three{
        width: 50px;
        height: 50px;
        background-color: #23b7a4;
        color: white;
        margin: -60px 0 0 0 ;
        font-size: 20px;
        font-family: 'Quattrocento Sans', sans-serif;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;

    }
}
//-------------------------------team------------------------------------//

.team{
    display: flex;
    padding: 0 0 100px 0;
    
    h1{
        font-size: 36px;
        font-family:'Quattrocento Sans', sans-serif;
        border-left: 10px solid #e0e5ea;
        padding: 0 0 0 10px;
        margin: 80px 0 60px 0;
    }
}
.member-one{
    position: relative;
    
    .member-one-img{
        margin: 0 0 0 15px ;
    }
   .member-one-text{
       width: 263px;
       height: 75px;
       background-color: #e1e6ea;
       margin: -3px 0 0 15px ;
       .p-one{
        font-size: 16px;
        font-family: 'Quattrocento Sans', sans-serif;
        padding: 19px 0 10px 20px;
       }
       .p-two{
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: #a3a6a9;
        padding: 0 0 0 20px;
       }
       
   }
    
}
.member-one:hover .member-one-text {
     
    background-color: #3a454d;
    color: white;
}
.member-one:hover img{
    filter: blur(3px);
}
.member-one:hover a{
    opacity: 1;
}

.link-face{
        
    width: 60px;
    height: 60px;
    background-color: #3a454d;
    background-image: url(images/faceb.png);
    background-position: center;
    position: absolute;
    margin:120px 0 0 -216px ;  
    opacity: 0;

}
.link-face:hover{
    background-color: #3b5998;
}
.link-twit{
    width: 60px;
    height: 60px;
    background-color: #3a454d;
    background-image: url(images/twit.png);
    background-position: center;
    position: absolute;
    margin:120px 0 0 -153px ;
    opacity: 0;
    
}
.link-twit:hover{
    background-color: #00acee;
}
.link-in{
    width: 60px;
    height: 60px;
    background-color: #3a454d;
    background-image: url(images/in.png);
    background-position: center;
    position: absolute;
    margin:120px 0 0 -90px ;
    opacity: 0;
    
    
}
.link-in:hover{
    background-color: #0e76a8;
}

//-----------------------------------------------------work---------------------------------------------//

.work{
    display: flex;
    padding: 0 0 160px 0;
    background-color: #3a454d;
    h1{
        font-size: 36px;
        font-family:'Quattrocento Sans', sans-serif;
        border-left: 10px solid #4e5a62;
        padding: 0 0 0 10px;
        margin: 80px 0 60px 0;
        color: white;
    }
}
.work-space-one{
    margin: 0 0 30px 15px ;
    position: relative;
    p{
        width: 100%;
        height: 60px;
        background-color: #292f36;
        color: white;
        padding: 23px 0 0 21px;
        
        position: absolute;
        opacity: 0;
    
    }
    .plus{
        
        position: absolute;
        margin: 100px 0 0 -255px;
        opacity: 0;
    }
}


.work-space-one:hover{
    img{
        width: 361px;
        height: 205px;
        margin: 0 0 60px 0;
        opacity: 0.6;
    }
    p{
       
        margin: -62px 0 0 0;
        
        opacity: 1;
    }
    .plus{
        
        width: 40px;
        height: 40px;
        position:absolute;
        margin: 100px 0 0 -200px;
        opacity: 1;

    }
}

    
    

.show-me{
    width: 147px;
    height: 43px;
    margin: 40px 0 0 470px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    position: absolute;
    border-radius: 5px;
}
.show-me:hover{
    background-color: #23b7a4;
        border:2px solid  transparent;
        cursor: pointer;
}
//--------------------------------------------services----------------------------------------------//

.services{
    display: flex;
    padding: 0 0 92px 0;
    background-color: white;
    h1{
        font-size: 36px;
        font-family:'Quattrocento Sans', sans-serif;
        border-left: 10px solid #e0e5ea;
        padding: 0 0 0 10px;
        margin: 80px 0 60px 0;
    }
}
.services-one{
    margin: 0 0 0 15px ;
    img{
        margin: 30px 0 35px 110px;
    }
    h3{
        font-family:'Quattrocento Sans', sans-serif;
        font-size: 17px;
        text-align: center;
        margin: 0 0 30px 0;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-align:center;
        margin: 0 10px 90px 10px;
    }
}
//----------------------------------features-----------------------------------------//

.features{
    display: flex;
    padding: 0 0 141px 0;
    background-color: #3a454d;
    h1{
        font-size: 36px;
        font-family:'Quattrocento Sans', sans-serif;
        border-left: 10px solid #4e5a62;
        padding: 0 0 0 10px;
        margin: 92px 0 60px 0;
        color: white;
    }
    img{
        width: 100%;
        height: 100%;
        margin: 0 0 54px 15px;
    }
    h3{
        font-size: 18px;
        font-family:'Quattrocento Sans', sans-serif;
        color: white;
        margin: 0 0 30px 15px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: white;
        margin: 0 0 0 15px;
    }
}
//---------------------------------------touch----------------------------------//
.touch{
    display: flex;
   
 
    h1{
        font-size: 36px;
        font-family:'Quattrocento Sans', sans-serif;
        border-left: 10px solid #4e5a62;
        padding: 0 0 0 10px;
        margin: 92px 0 60px 0;
        color: #292f36;
    }
    
}
.touch-content{
    padding: 60px 0 105px 0;
    h3{
        font-size: 20px;
        font-family:'Quattrocento Sans', sans-serif;
        color: #292f36;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #8d8f92;
        padding: 40px 0 0 0;
        strong{
            font-weight: 900;
            color: black;
        }
    }
}
.form {
    width: 555px;
    height: 420px;
    
    
    padding: 50px 25px 30px 25px;
    position: relative;
    background-color: white;
    margin: -200px 0 0 0;
    
    .name {
        float: left;
        width: 240px;
        height: 45px;
        background-color: #eaeef1;
       border-radius: 5px;
       padding: 0 0 0 10px;
       font-size: 14px;
        font-family:'Quattrocento Sans', sans-serif;
      }
      
      
      .email{
        float: right;
        width: 240px;
        height: 45px;
        background-color: #eaeef1;
        border-radius: 5px;
        padding: 0 0 0 10px;
        font-size: 14px;
        font-family:'Quattrocento Sans', sans-serif;
      }
    .text-3{
        width: 500px;
        height: 160px;
        margin: 50px 0 30px 0;
        padding: -100px 0 0 0;
        background-color: #eaeef1;
        border-radius: 5px;
        padding: 0 0 0 10px;
        position: relative;
        font-size: 14px;
        font-family:'Quattrocento Sans', sans-serif;
    }
    .send{
        width: 150px;
        height: 43px;
        border-radius: 5px;
        border: transparent;
        background-color: #23b7a4;
        color: white;
        float: left;
    }
    .send:hover{
        background-color: white;
        border: 1px solid black;
    color: #23b7a4;
    }
  }
  .footer{
      display: flex;
      background-color: #3a454d;
      h3{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        padding: 40px 0 40px 0;
        color: #848b90;
      }
     
      
  }
  .img-g{
      margin-left: 300px;
      padding: 30px 0 30px 0;
  }
  .mb-3{
      width: 240px;
      position: relative;
      .form-label1{
        font-size: 14px;
        font-family:'Quattrocento Sans', sans-serif;
          position: relative;
          color: #abadaf;
      }
  }
  .mb-4{
    width: 240px;
    margin: -40px 0 0 261px;
    position: relative;
   .form-label2 {
        position: absolute;
        margin-top: 22px;
        font-size: 14px;
        font-family:'Quattrocento Sans', sans-serif;
        color: #abadaf;
    }
}
.mb-5{
    position: relative;
    .form-label3 {
        position: absolute;
        margin-top: 22px;
        font-size: 14px;
        font-family:'Quattrocento Sans', sans-serif;
        color: #8d8f92;
    }
}
//-------------------------------------------media---------------------------------------//
@media(max-width:767px){
    .logo {
        display: flex;
        justify-content: center;
    }
    nav {
        overflow-x: scroll;
    }
    .hidden-xs{
        display: none;
    }
    .slider-content{
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
        .view-more{
            margin: 0 20px 0 20px ;
        }
        
    }

    //------about---------//
    .right-about{
        padding: 30px 0 0 0;
    }
    //-----------team---------//
    .member-one{
        padding: 0 0 30px 0;
    }

    //-----------work--------//
    .work{
        .show-me{
            margin: 30px 0 0 70px;
        }
    }
    .work-space-one{
        img{
            width: 300px;
            
        }
        
        
    }
    .work-space-one:hover{
        img{
        width: 300px;
        height: 160px;
        
    }
    .plus{
        margin: 70px 0 0 -170px;
    }

    }
   
    

//---------------services--------------//
.services{
    img{
        padding: 0 0 30px 50px;
    }
    h3{
        text-align: center;
    }
    p{
        text-align: center;
    }
    
}
.features{
    
    img{
        width: 100%;
        margin: auto;
        padding: 0 0 30px 0;
    }
    h3{
       
        text-align: center;
        margin: auto;
        padding: 0 0 30px 0;
    }
    p{
        text-align: center;
        margin: auto;
        padding: 0 0 30px 0;
    }
}
//---------------------------touch--------------------//
.form {
    width: 100%;
    margin: 0 0 100px 0;
    padding: 50px 25px 30px 25px;
    
    background-color: white;
    .name {
        
        width: 100%;
        height: 45px;
        margin: 0 0 20px 0;
       
      }
      
      
      .email{
        
        width: 100%;
        height: 45px;
       
      }
    .text-3{
        width: 100%;
        height: 160px;
       
    }
    
}

.footer{
    .img-g{
        margin-left: 0;
        padding: 0;
    }
}
.mb-4{
    margin: 0;
    .form-label2{
        position: relative;
    }
}
}
