@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;1,400&family=Cutive&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;1,400&family=Cutive&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Quattrocento+Sans:wght@700&display=swap');
//----------mobile-----------------//
* {
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}
[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1{
    flex:0 0  8.33333%;
    max-width: 8.33333%;
}
.col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-xs-12{
    flex:0 0 100%;
    max-width: 100%;
}

//-----------------tablet=>768px------------//


@media(min-width:768px) {

    .container{
        max-width: 720px;
    }
}

//------------ laptop=>md----------//

@media(min-width:992px) {
    .container{
        max-width: 960px;
    }
    .col-md-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

//-------------desktop=> lg------------//
@media(min-width:1200px) {
    .container{
        max-width: 1170px;
    }
    .col-md-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}




//-----------------only mobile>767-----------------------//
@media(max-width:767px){
    .hidden-xs{
        display: none;
    }
}
//-------menu--------//

body{
    font-family:  'Open Sans', sans-serif;
    background-color: white;
}

.menu{
    display: flex;
    justify-content: space-around;
     
   
       
    
}
.logo{
    
    margin: 6px 0 0 0;
}

li{
    border: 1px solid transparent;

    border-radius: 5px;
    padding: 9px;
    font-size: 14px;
    
}


li:hover{
    
    border: 1px solid #5a6068;
    cursor: pointer;
    
}

.header {
    padding: 30px 0;
    background-color: black;
    color: #ad9c9b;
    display: flex;
   
   position: relative;
}
//--------------------------пошук--------------------------//
.header-search{
    border: 1px solid #3c4147;
    
    position: relative;
    left: 40px;
    border-radius: 5px;
    
    
    
}
.input-text{
    width: 100%;
    height: 29px;
    margin: 3px 0 4px 4px ;
    border: none;
    background-color: transparent;
    color: #9ba5a4; 
    
    
}
input, textarea {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
  padding: 0 40px 0 0;
  }
.button-search{
    height: 30px;
    width: 30px;
    border: none;
    background: transparent;
    left: 125px;
    margin-top:-33px;
    position: absolute;
    cursor: pointer;
}
.img-search{
    position: relative;
    right: 15px;
    margin-top:-10px; 
}
//------------------------------main------------------------------------------------//

//---------------banner-------------//
.banner{
    width: 100%;
    background: url(images/home.png);
    background-position: center;
    height: 660px;
    display: flex;
    position: relative;
}
.slider-content{
    
    h1{
         font-family: 'Quattrocento Sans', sans-serif;
         font-size: 36px;
         margin: 228px 0 30px 0;
         color: white;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        margin: 0 0 40px 0;
        color: #ccd0d7;
    }
    .view-more{
        width: 124px;
        height: 44px;
        margin: 0 12px 0 0;
        border-radius: 3px ;
        border:2px solid  white;
        background-color: transparent;
        color: #ffff;
    }
    .video-tour{
        width: 124px;
        height: 44px;
        border-radius: 3px ;
        border:2px solid  white;
        background-color: transparent;
        color: #ffff;
    }

    .view-more:hover{
        background-color: #23b7a4;
        border:2px solid  transparent;
    }
    .video-tour:hover{
        background-color: #23b7a4;
        border:2px solid  transparent;
    }

}
//-------------------------about---------------------//

.about{
    display: flex;
    height: 612px;
    border-bottom: 1px solid #dde1e4;
    h1{
        font-size: 36px;
        font-family:'Quattrocento Sans', sans-serif;
        border-left: 10px solid #e0e5ea;
        padding: 0 0 0 10px;
        margin: 80px 0 60px 0;
    }
    
}
.about-par{
    p{
        margin: 0 0 40px 0;
    font-family: 'Open Sans', sans-serif;
        font-size: 16px;
     color: #a9aaad;
     strong{
         font-weight: 600;
         color: #8d8f92;
     }
    }
}
.network{
    display: inline-flex;
    margin: 15px 0 0 0;
    .link-fb{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/face.png);
        background-position: center;
        border-right: 1px solid white;
        
        
    }
    .link-fb:hover{
        background-color: #3b5998;
    }
    .link-tw{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/twitter.png);
        background-position: center;
        border-right: 1px solid white;
    }
    .link-tw:hover{
        background-color: #00acee;}
    .link-goog{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/google.png);
        background-position: center;
        border-right: 1px solid white;
        
    }
    .link-goog:hover{
        background-color: rgb(227, 208, 0);
    }
    .link-ball{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/boll.png);
        background-position: center;
        border-right: 1px solid white;
        
    }
    .link-ball:hover{
        background-color: #03d8bc;
    }
    .link-be{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        background-image: url(images/be.png);
        background-position: center;
        
        
    }
    .link-be:hover{
        background-color: black;
    }

}
.right-about{
    position: relative;
    h2{
        font-size: 18px;
        font-family: 'Quattrocento Sans', sans-serif;
        margin: 0 0 12px 60px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #a9aaad;
        margin: 0 0 0 60px;
    }
    .one{
        width: 50px;
        height: 50px;
        background-color: #23b7a4;
        color: white;
        margin: -60px 0 35px 0 ;
        font-size: 20px;
        font-family: 'Quattrocento Sans', sans-serif;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;

    }
}
.right-about-two{
    position: relative;
    h2{
        font-size: 18px;
        font-family: 'Quattrocento Sans', sans-serif;
        margin: 0 0 12px 60px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #a9aaad;
        margin: 0 0 0 60px;
    }
    .two{
        width: 50px;
        height: 50px;
        background-color: #23b7a4;
        color: white;
        margin: -60px 0 35px 0 ;
        font-size: 20px;
        font-family: 'Quattrocento Sans', sans-serif;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;

    }
}
.right-about-three{
    position: relative;
    h2{
        font-size: 18px;
        font-family: 'Quattrocento Sans', sans-serif;
        margin: 0 0 12px 60px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #a9aaad;
        margin: 0 0 0 60px;
    }
    .three{
        width: 50px;
        height: 50px;
        background-color: #23b7a4;
        color: white;
        margin: -60px 0 0 0 ;
        font-size: 20px;
        font-family: 'Quattrocento Sans', sans-serif;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;

    }
}
//-------------------------------team------------------------------------//@at-root

.team{
    display: flex;
    height: 650px;
    
    h1{
        font-size: 36px;
        font-family:'Quattrocento Sans', sans-serif;
        border-left: 10px solid #e0e5ea;
        padding: 0 0 0 10px;
        margin: 80px 0 60px 0;
    }
}
.member-one{
    position: relative;
    
    .member-one-img{
        margin: 0 0 0 15px ;
    }
   .member-one-text{
       width: 263px;
       height: 75px;
       background-color: #e1e6ea;
       margin: -3px 0 0 15px ;
       .p-one{
        font-size: 16px;
        font-family: 'Quattrocento Sans', sans-serif;
        padding: 19px 0 10px 20px;
       }
       .p-two{
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: #a3a6a9;
        padding: 0 0 0 20px;
       }
       
   }
    
}
.member-one:hover .member-one-text {
    
    background-color: #3a454d;
    color: white;
}
.member-one:hover .member-one-img{
    opacity: 0.6;
    
}
.link-face{
        
    width: 60px;
    height: 60px;
    background-color: black;
    background-image: url(images/faceb.png);
    background-position: center;
    position: absolute;
    margin:120px 0 0 -216px ;
    opacity: 0;
    
    

}
.link-twit{
    width: 60px;
    height: 60px;
    background-color: black;
    background-image: url(images/twit.png);
    background-position: center;
    position: absolute;
    margin:120px 0 0 -153px ;
    
    opacity: 0;
    
}
.link-in{
    width: 60px;
    height: 60px;
    background-color: rgb(0, 0, 0,);
    background-image: url(images/in.png);
    background-position: center;
    position: absolute;
    margin:120px 0 0 -90px ;
    opacity: 0;
    
}
.member-one:hover {.link-face  {
        opacity: 1;
    
        
    }
    
    .link-twit{
        opacity: 1;
    }
    .link-in{
        opacity: 1;
    }
}